body{
  background-image: url('https://imgur.com/PMStjd9.gif');
  background-attachment:scroll;
  background-repeat:repeat;
}

#white{
width:100%;
position: absolute;
z-index:1;
left:0%;
top:0vw;
}

#background{
width:100%;
position: absolute;
z-index:3;
left:0%;
top:0vw;
}

#triangle{
width:54.8%;
position: absolute;
left: 0.25%;
top:27.35vw;
z-index:3;
}

#train{
width:53%;
position:absolute;
left:6%;
top:44vw;
z-index:2;
}

#button{
width:11%;
position:absolute;
left:81.5%;
top:31.5vw;
z-index:3;
}
